/* ==========================================================
FADE
========================================================== */

@keyframes fadeIn{

    from{

        opacity:0;

        transform:translateY(8px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* ==========================================================
BUTTON
========================================================== */

.stButton>button{

    transition:.25s;

}

.stButton>button:hover{

    transform:translateY(-2px);

}

/* ==========================================================
CHAT
========================================================== */

[data-testid="stChatMessage"]{

    animation:fadeIn .35s ease;

}

/* ==========================================================
INPUT
========================================================== */

[data-testid="stChatInput"]{

    animation:fadeIn .4s ease;

}

/* ==========================================================
SIDEBAR
========================================================== */

section[data-testid="stSidebar"]{

    animation:fadeIn .4s ease;

}